.column {
  float: left;
  border: 2px solid black;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  column-width: 30%;
}

body {
  background-color: red;
}

h1, h2 {
  color: yellow;
}

@media screen and (max-width: 400px) and (min-width: 300px) {
  body {
    background-color: purple;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: gold;
  }

  h1 {
    color: tomato;
  }
}